# Prompt
.prompt
.claude


# Gerber files
/device/hardware/manufacturing

# KiCAD backup files
/device/hardware/pcb/andon_light_strip-backups

# KiCAD temporary files and personal workspace preferences
/device/hardware/pcb/_wip*
/device/hardware/pcb/*.tmp
/device/hardware/pcb/*-bak
/device/hardware/pcb/*.bak
/device/hardware/pcb/*.lck
/device/hardware/pcb/*.kicad_prl
/device/hardware/pcb/*.kicad_user
/device/hardware/pcb/*cache

# Auto-save files
/device/hardware/pcb/_autosave-*
/device/hardware/pcb/*.autosave


# Python script to build the chassis CAD
/device/hardware/cad/*.py
/device/hardware/cad/__pycache__

# FreeCAD backup
/device/hardware/cad/*.FCBak
/device/hardware/cad/*.brep